version: '3.8'

services:
  modtoberfest:
    build:
      context: .
      args:
        - DATABASE_URL=${DATABASE_URL:-default}
        - GITHUB_ID=${GITHUB_ID:-default}
        - GITHUB_SECRET=${GITHUB_SECRET:-default}
        - ADMIN_SECRET=${ADMIN_SECRET:-default}
        - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL:-default}
    ports:
      - "127.0.0.1:2902:4321"
    restart: unless-stopped
    network_mode: host
    environment:
      - NODE_ENV=production
      - DATABASE_URL
      - GITHUB_ID
      - GITHUB_SECRET
      - ADMIN_SECRET
      - DISCORD_WEBHOOK_URL
    container_name: modtoberfest
  modtoberfest_tasks:
    image: strm/tasker
    container_name: modtoberfest_tasks
    profiles:
      - donotstart
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      configuration: |
        schedule:
            - every: 15 minutes
              task: updatePrs
            - cron: 0 * * * *
              task: updateRepos
            - cron: 0 * * * *
              task: updateLanguages
        tasks:
            docker:
                - name: updatePrs
                  image: curlimages/curl:latest
                  script:
                      - "curl --request POST --url https://modtoberfest.com/api/admin/pull_requests/collect --header 'Content-Type: application/json' --data '{\"secret\": \"${ADMIN_SECRET}\"}'"
                - name: updateRepos
                  image: curlimages/curl:latest
                  script:
                      - "curl --request POST --url https://modtoberfest.com/api/admin/repositories/update --header 'Content-Type: application/json' --data '{\"secret\": \"${ADMIN_SECRET}\"}'"
                - name: updateLanguages
                  image: curlimages/curl:latest
                  script:
                      - "curl --request POST --url https://modtoberfest.com/api/admin/languages/collect --header 'Content-Type: application/json' --data '{\"secret\": \"${ADMIN_SECRET}\"}'"
networks:
  default:
      name: mariadb
      external: true
