---
import Layout from '@layouts/Layout.astro';
---
<Layout title="403 - Access Denied" description="You don't have permission to access this page." canonical="/403">
    <div class="container mx-auto flex flex-col items-center justify-center text-center px-4">
        <h1 class="text-5xl font-bold mt-12 text-gray-800">403 - Access Denied</h1>
        <p class="text-lg mt-4 text-gray-600">You need more experience to access this area.</p>
        <img src="/error-403.png" alt="Access Denied" class="w-500 h-auto my-8" />
        <a href="/" class="text-brand-600 hover:underline text-base">Return to Home</a>
    </div>
</Layout>