---
import Layout from '@layouts/Layout.astro';

const attemptedUrl = Astro.url.searchParams.get('url') || '/';
---
<Layout title="403 - Access Denied" description="You don't have permission to access this page." canonical="/403">
    <div class="container mx-auto flex flex-col items-center justify-center text-center px-4">
        <h1 class="text-5xl font-bold mt-12 text-white">403 - Access Denied</h1>
        <p class="text-lg mt-4 text-gray-300">Unable to access ('{attemptedUrl}') - Try logging in.</p>
        <a href="/" class="text-brand-600 hover:underline text-base mt-6">Return to Home</a>
    </div>
</Layout>