---
import LinkExternal from "./icon/LinkExternal.astro";
---
<footer class = "flex h-12 bg-black bg-opacity-10">
    <div class = "flex gap-x-2 mx-auto text-orange-400">
        <a href="https://github.com/Mycelium-Mod-Network/Modtoberfest-Site/" target="_blank" rel="noreferrer" class="nav-link">GitHub <LinkExternal /></a> | <a href = "/privacy" class = "nav-link">Privacy</a>
    </div>
</footer>