---
import LinkExternal from "./icon/LinkExternal.astro";
import {Icon} from "astro-icon/components";
---
<footer class = "h-12 border-t border-neutral-800 text-neutral-450">
    <div class = "max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
            <div class = "flex items-center space-x-4 mb-4 md:mb-0 justify-center">
                <a href = "https://github.com/Mycelium-Mod-Network/Modtoberfest-Site/" target = "_blank" rel = "noreferrer" class = "nav-link flex items-center space-x-2"><Icon name = `octicon:mark-github-16` class = "w-5 h-5"/><span>GitHub</span>  </a>
                <span>|</span>
                <a href = "https://discord.modtoberfest.com" target = "_blank" rel = "noreferrer" class = "nav-link flex items-center space-x-2"><Icon name = `pajamas:discord` class = "w-5 h-5"/><span>Discord</span>  </a>
                <span>|</span>
                <a href = "/privacy" class = "nav-link">Privacy</a>
            </div>
    </div>
</footer>
