---
import Navbar from "../components/Navbar.astro";
import "../styles/index.css";
import Footer from "../components/Footer.astro";
import {SEO, type SEOProps} from "astro-seo";
interface Props {
    title: string;
    description: string;
    canonical: string;

}

const {title, description, canonical} = Astro.props;

const seo: SEOProps = {
    title,
    description,
    canonical: `https://modtoberfest.com${canonical}`,
    openGraph: {
        basic: {
            title: title,
            type: "website",
            image: "https://modtoberfest.com/logo/png/badge/2024.png",
            url: `https://modtoberfest.com${canonical}`
        },
        optional: {
            description,
            siteName: "Modtoberfest",
        },
    },
    extend: {
        meta: [
            {
                property: "charset",
                content: "utf-8",
            },
        ],
    },
};
---

<!doctype html>
<html lang = "en">
<head>
    <meta charset = "UTF-8"/>
    <meta name = "description" content = "Astro description"/>
    <meta name = "viewport" content = "width=device-width"/>
    <link rel = "icon" type = "image/svg+xml" href = "/favicon.svg"/>
    <meta name = "generator" content = {Astro.generator}/>
    <meta name = "darkreader-lock">
    <title>{title}</title>
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
    <link href = "https://fonts.googleapis.com/css2?family=Germania+One&display=swap" rel = "preload" as="font">
    <script async defer data-website-id = "d5a805fd-940e-4c3e-853a-9c5d0dd9febf" src = "https://nlytics.blmj.red/scrpt"/>
    <link rel = "apple-touch-icon" sizes = "180x180" href = "/apple-touch-icon.png"/>
    <link rel = "icon" type = "image/png" sizes = "32x32" href = "/favicon-32x32.png"/>
    <link rel = "icon" type = "image/png" sizes = "16x16" href = "/favicon-16x16.png"/>
    <link rel = "manifest" href = "/site.webmanifest"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <SEO {...seo}/>

</head>
<body class = "bg-brand-900 flex flex-col min-h-screen">
<Navbar/>
<main class = "flex-grow">
    <slot/>
</main>
<Footer/>
</body>
</html>
