---
import {isUserAdmin} from "@lib/util";
import Layout from "@layouts/Layout.astro";
import PageTitle from "@components/ui/PageTitle.astro";
import prisma from "@lib/db";
import UserCard from "@components/ui/UserCard.astro";
const user = Astro.locals.user;
if (!isUserAdmin(user)) {
    return Astro.redirect("/403?url=/admin/users")
}
const users = await prisma.user.findMany({
    select: {
        id: true,
        name: true,
        username: true,
        email: true,
        admin: true,
        avatar: true,
    }
})
---

<Layout title = "Users" description = "Users" canonical = "/admin/users">
    <div class = "mx-auto max-w-none">
        <PageTitle>Users ({users.length})</PageTitle>
        {users.map((user) =>
                <>
                    <UserCard user = {user}/>
                </>)}

    </div>
</Layout>