---
import LinkExternal from "../icon/LinkExternal.astro";
interface Props {
    to: string;
    current?: boolean
}

const {to, current} = Astro.props;
const external = to.startsWith("http")
---

{external &&
<>
    <a href = {to} class = "nav-link flex gap-x-1 mx-auto lg:mx-0 p-2 lg:p-0 text-neutral-450" target = "_blank" rel = "noreferrer">
        <slot/>
        <LinkExternal/>
    </a>

</>}
{!external &&
<>
    <a href = {to} class:list = {["nav-link", {"text-neutral-100": current, "text-neutral-450": !current}]}>
        <slot/>
    </a>
</>}
