---
export interface Props {
    date: number,
}

const {date} = Astro.props;
---

<div>
    <div class = "started">
        <slot name = "before"/>
    </div>
    <div class = "countdown inline-flex justify-center text-center gap-x-4 sm:gap-x-8 prose-p:mt-0 prose-p:mb-0 font-brand">
        <div class = "my-auto">
            <p class = "text-2xl lg:text-5xl days text-primary">0</p>
            <p class = "font-bold">Days</p>
        </div>

        <div class = "my-auto">
            <p class = "text-2xl lg:text-5xl hours text-primary">0</p>
            <p class = "font-bold">Hours</p>
        </div>

        <div class = "my-auto">
            <p class = "text-2xl lg:text-5xl minutes text-primary">0</p>
            <p class = "font-bold">Minutes</p>
        </div>

        <div class = "my-auto">
            <p class = "text-2xl lg:text-5xl seconds text-primary">0</p>
            <p class = "font-bold">Seconds</p>
        </div>
    </div>

    <div class = "hidden completed">
        <slot name = "after"/>
    </div>
</div>

<script is:inline define:vars = {{date}}>

    const updateCountdown = () => {

        const total = date - new Date().getTime();

        const seconds = Math.floor((total / 1000) % 60);
        const minutes = Math.floor((total / 1000 / 60) % 60);
        const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
        const days = Math.floor(total / (1000 * 60 * 60 * 24));

        // Could I do this better?
        document.querySelector(".days").innerText = days.toString().padStart(2, 0);
        document.querySelector(".hours").innerText = hours.toString().padStart(2, 0);
        document.querySelector(".minutes").innerText = minutes.toString().padStart(2, 0);
        document.querySelector(".seconds").innerText = seconds.toString().padStart(2, 0);

        // Stop updating if the timer hits 0.
        if (total <= 0) {

            clearInterval(updateCountdown);

            document.querySelector(".started").style.display = 'none';
            document.querySelector(".countdown").style.display = 'none'
            document.querySelector(".completed").style.display = 'block'
        }
    };

    // Invoke immediately.
    updateCountdown();
    setInterval(updateCountdown, 1000);
</script>
