---
const user = Astro.locals.user;

interface Props {
    showSignout?: boolean;
    centerA?: boolean;
}
const {showSignout = true, centerA = false} = Astro.props;
---

{!user &&
<>
    <a href = "/auth/github" class = "flex-none m-auto">
        <button class = "px-4 py-2 h-12 border border-primary rounded-md text-sm font-medium text-primary shadow-sm hover:bg-primary hover:text-black">LOGIN</button>
    </a>
</>}
{user &&
<>
    <div class = "flex flex-col lg:flex-row items-center gap-x-2 flex-none m-auto">
        <a href = "/profile" class:list = {["no-underline", {"mx-auto": centerA}]}>
            <button class = "px-4 py-2 h-12 border border-primary rounded-md text-sm font-medium text-primary shadow-sm hover:bg-primary hover:text-black flex items-center gap-x-2">
                <img
                        src = {user.avatar}
                        class = "rounded-full w-6"
                        alt = "avatar"
                /> <span>My progress</span>
            </button>

        </a>

        {showSignout &&
                <>
                    <form method = "post" action = "/auth/logout" class = "text-white">
                        <button id = "sign-out">Sign out</button>
                    </form>
                </>}
    </div>
</>}
